Xft.dpi: 144
Xft.autohint: 0
Xft.antialias: true
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

! Jellybeans Terminal Colours

! vim: ft=xdefaults
*background: #151515
*foreground: #888888
! black
*color0: #1C1C1C
*color8: #404040
! red
*color1: #B85335
*color9: #CF6A4C
! green
*color2: #799D6A
*color10: #99AD6A
! yellow
*color3: #FFB964
*color11: #FAD07A
! blue
*color4: #667899
*color12: #8197BF
! magenta
*color5: #8787AF
*color13: #C6B6EE
! cyan
*color6: #668799
*color14: #8FBFDC
! white
*color7: #888888
*color15: #E8E8D3

!urxvt settings
URxvt.letterSpace: -2
URxvt.depth: 32
URxvt.buffered: true
URxvt.scrollBar: false
URxvt*font: xft:Liberation Mono:size=12:antialias=true:hinting=true
URxvt*cursorUnderline: false
URxvt*cursorBlink: true
URxvt.saveLines: 100
URxvt.perl-ext-common:default,clipboard,matcher
URxvt.url-launcher: chromium
URxvt.matcher.button: 1
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
